name: CI/CD Pipeline

on:
  push:
    branches: [main]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Fazendo checkout do c처digo
        uses: actions/checkout@v2

      - name: Log in no Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u blgianini --password-stdin

      - name: Build da imagem Docker
        run: |
          docker build \
            --build-arg DATABASE_URL=${{ secrets.DATABASE_URL }} \
            -t blgianini/humix-srv-usuario:${{ github.sha }} .

      - name: Push da imagem para o Docker Hub
        run: |
          docker push blgianini/humix-srv-usuario:${{ github.sha }}

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Fazendo checkout do reposit처rio de config
        uses: actions/checkout@v2
        with:
          repository: "humix-refactor/humix-srv-usuario-config"

      - name: Fazendo pull do reposit처rio
        run: |
            git pull

      - name: Rodando o Kustomize
        uses: imranismail/setup-kustomize@v1
        with:
          kustomize_version: v3.6.1

      - name: Atualizando os valores da imagem
        run: |
          kustomize edit set image teste=humix/humix-srv-usuario:${{ github.sha }}

      - name: Criando commit tag nova da imagem
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "Deploy Action"
          git add . 
          git commit -am "Mudando a Tag da Imagem"

      - name: Fazendo o push da nova vers찾o da imagem
        uses: ad-m/github-push-action@master
